@import url(./css/header.css);

:root{
    --branco: #ffffff;
    --cor-de-fundo: #EBECEE;
    --fonte-padrao: 'Poppins', sans-serif;
    --azul-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --laranja: #EB9B00;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 400;
}